@defer(when !stopLoading()) {
<main class="min-h-screen flex items-center justify-center w-full bg-gray-900">
  <div
    [ngClass]="{
      'md:max-h-[700px]': finishedTest,
      'overflow-y-scroll': showWrongQuestions && finishedTest
    }"
    class="bg-white shadow-md rounded-lg px-8 py-6 max-w-[90vw] max-h-[100vw] sm:max-h-max md:max-w-[700px] md:min-w-[700px] text-center"
  >
    <div class="flex flex-col justify-between gap-x-6">
      <div class="flex items-center">
        <a (click)="onGoToIntro()" class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
            />
          </svg>
        </a>
        <h2 class="font-bold tracking-tight text-gray-900 ml-4">
          {{ selectedQuestionTest.title }}
        </h2>
      </div>
      <hr class="mt-5" />
      @if (!finishedTest) {
      <h1 class="my-10">{{ selectedQuestion.question }}</h1>

      <div class="flex items-center justify-center flex-col">
        <img
          class="w-[90%]"
          *ngFor="let img of selectedQuestion.images"
          [src]="img"
          [alt]="img"
        />
      </div>

      <div class="flex flex-col items-center">
        @for(answer of selectedQuestion.answers; track selectedQuestion;) {
        <button
          (click)="onSelectAnswer(answer)"
          [ngClass]="{
            '!bg-green-200 !border-green-300 !text-slate-700':
              checkAnswer &&
              answer.isCorrect &&
              (answerIncludedToSelectedAnswers(answer) ||
                !answerIncludedToSelectedAnswers(answer)),
            '!bg-red-400 !border-red-500':
              checkAnswer &&
              !answer.isCorrect &&
              answerIncludedToSelectedAnswers(answer),
            'bg-slate-300 border-slate-200':
              answerIncludedToSelectedAnswers(answer),
            'cursor-not-allowed': checkAnswer
          }"
          [disabled]="checkAnswer"
          class="p-2 font-bold border-2 rounded-lg cursor-pointer mb-3 w-full"
        >
          <div class="flex items-center justify-center relative">
            <svg
              *ngIf="
                checkAnswer &&
                answer.isCorrect &&
                (answerIncludedToSelectedAnswers(answer) ||
                  !answerIncludedToSelectedAnswers(answer))
              "
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-7 h-7 absolute left-2 font-bold text-green-800"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 12.75 6 6 9-13.5"
              />
            </svg>
            <svg
              *ngIf="
                checkAnswer &&
                !answer.isCorrect &&
                answerIncludedToSelectedAnswers(answer)
              "
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-7 h-7 absolute left-2 font-bold text-red-800"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
            <span>{{ answer.answer }}</span>
          </div>
        </button>
        }
      </div>
      } @else {
      <h1 class="my-10">
        <span *ngIf="score === selectedQuestionTest.questions.length">
          Congrats you answer corret all the questions!
        </span>
        <span
          >Your score is {{ score }} /
          {{ selectedQuestionTest.questions.length }}</span
        >
      </h1>
      @if (wrongQuestions.length > 0) {
      <a
        class="text-gray-900 my-2 hover:underline cursor-pointer"
        (click)="showWrongQuestions = !showWrongQuestions"
        >{{ showWrongQuestions ? "Hidden" : "Show" }} wrong answers</a
      >

      <div *ngIf="showWrongQuestions" class="py-5">
        <ng-container
          *ngFor="
            let wrongQuestion of wrongQuestions;
            let wrongQuestionIndex = index
          "
        >
          <details
            class="group text-left mb-4 border-b-2 pb-3"
            [id]="'wrongQuestion' + wrongQuestionIndex"
          >
            <summary
              class="flex justify-between items-center font-medium cursor-pointer list-none"
            >
              <span class="mr-4">Question: {{ wrongQuestion.question }}</span>
              <span class="transition group-open:rotate-180">
                <svg
                  fill="none"
                  height="24"
                  shape-rendering="geometricPrecision"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </summary>
            <div class="mt-2 flex flex-col">
              <ng-container *ngFor="let wrongQuestion of wrongQuestion.answers">
                <span
                  [ngClass]="{
                    '!text-green-500': wrongQuestion.isCorrect,
                  }"
                  class="font-bold mb-3"
                >
                  {{ wrongQuestion.answer }}
                </span>
              </ng-container>
            </div>
          </details>
        </ng-container>
      </div>
      } }
    </div>
    <div
      class="mt-5 flex flex-col sm:flex-row gap-2 sm:gap-0 items-center justify-around flex-wrap"
    >
      @if (!finishedTest) {
      <button
        (click)="checkAnswer = true"
        class="bg-green-700 hover:bg-green-600 p-2 font-light text-white rounded-md"
      >
        Check answer
      </button>
      <span class="font-bold text-lg">{{
        selectedQuestionIndex + 1 + "/" + selectedQuestionTest.questions.length
      }}</span>
      <button
        (click)="onNextQuestion()"
        class="bg-slate-700 hover:bg-slate-600 p-2 font-light text-white rounded-md"
      >
        {{
          selectedQuestionTest.questions.length - 1 === selectedQuestionIndex
            ? "Finish test"
            : "Next question"
        }}
      </button>
      } @else {
      <button
        (click)="onRestartTest()"
        class="bg-slate-400 hover:bg-slate-500 p-2 font-light text-white rounded-md"
      >
        Restart test
      </button>
      <button
        *ngIf="wrongQuestions.length > 0"
        (click)="onRestartWrongQuestions()"
        class="bg-slate-400 hover:bg-slate-500 p-2 font-light text-white rounded-md mx-4"
      >
        Restart wrong questions only
      </button>
      <a
        (click)="onGoToIntro()"
        class="bg-slate-700 hover:bg-slate-600 p-2 font-light text-white rounded-md"
      >
        Go to intro
      </a>
      }
    </div>
  </div>
</main>
} @loading {
<div class="h-screen bg-white">
  <div class="flex justify-center items-center h-full">
    <img
      class="h-16 w-16"
      src="https://icons8.com/preloaders/preloaders/1488/Iphone-spinner-2.gif"
      alt=""
    />
  </div>
</div>
}
